/* body */
#page
{
    width: 100%;
    max-width: 1440px;
}
/* header */
#header
{
    height: 110px;
    width: 100%;
    display: flex;
}

.logo
{
    width: 100px;
    height: auto;
    display: flex;
    vertical-align: middle;
}
nav
{
    height: 110px; 
    width: 40%; 
    list-style: none; 
    display: flex;
    height: 100px;
    flex-direction: column;
    
}
.block-logo
{
    height: 110px; 
    width: 60%;
    background-color: transparent;
}
div
{
    display: inline-block;
}

.nav-item
{
    height: 110px;
    width: 25%;
    flex-direction: row;
    display: inline-block;
}
/* section + aside */
#conteneur1
{
    height: 650px; 
    width: 75%; 
    display: flex;
    flex-direction: row;
    
}
.element1
{
    width: 240px;
    height: 200px;
    background-color: red; 
    display: flex;
    margin: 10px;
}

#conteneur2
{
    height: 650px; 
    width: 25%; 
    display: flex;
    flex-direction: column;
}
.element2
{
    height: fit-content;
    width: fit-content;
    background-color: lawngreen; 
    display: flex;
    margin: 10px;
}
