/* body */
#page
{
    width: 100%;
    max-width: 1440px;
    font-family: 'Raleway';
}
/* header */
#header
{
    height: 110px;
    width: 100%;
    display: flex;
}

.logo
{
    width: 100px;
    height: auto;
    display: flex;
    vertical-align: middle;
}
nav
{
    height: 110px; 
    width: 40%; 
    list-style: none; 
    display: flex;
    height: 100px;
    flex-direction: column;
    
}
.block-logo
{
    height: 110px; 
    width: 60%;
    background-color: transparent;
}
div
{
    display: inline-block;
}

.nav-item
{
    height: 110px;
    width: 25%;
    flex-direction: row;
    display: inline-block;
}
/* section + aside */
#conteneur1
{
    height: 650px; 
    width: 1008px; 
    flex-direction: row;
    
}
.element1
{
    width: 240px;
    height: 200px;
    background-color: red; 
    margin: 10px;
}

#conteneur2
{
    height: 650px; 
    width: 432px; 
    flex-direction: column;
}
.element2
{
    height: 150px;
    width: 340px;
    background-color: lawngreen; 
    display: flex;
    margin: 10px;
}
#Activités    
{
    height: 570px; 
    width: 100%;
    display: flex;
}
/*pied de page*/

footer
{
    display: inline-flex; 
    height: 222px; 
    background: #f2f2f2;;
    position:relative;
    bottom:0;
    width:100%;
    
}
.ftr4
{
    list-style-type: none;
    text-align:justify;
}
span
{
    display: flex;
    padding: 0px;
    padding-left: 55px;
    margin: 0px;
    margin-right: 288px;
}
#pied_de_page
{
    padding-block: 20px;

}
li
{
    margin: 18px;
}